.title-column {
  float: left;
  width: 45%;
}

.img-column{
  float: right;
  width: 52%;
}

.row {
  vertical-align: middle;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
